/* Universal button styling */
.button {
  border-radius: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.button:hover {
  background-color: #0069d9;
  box-shadow: 0 0 5px #0069d9;
}


/* Reset some default styles */
body, h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

/* Basic styling for the container */
.container {
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f0f0f0;
}

/* Header styling */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

#go_to_posts {
  /* padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer; */
}

/* Form styling */
.post {
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 20px;
  background-color: #fff;
}

.post .content {
  margin-bottom: 20px;
}

.post .title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.post input[type="text"],
.post textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
}

.post .author {
  font-size: 14px;
  color: #777;
  margin-top: 5px;
}

.post .reply {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  text-align: center;
}

/* Dark theme */
body.dark {
  background-color: #333;
  color: #fff;
}

.container.dark {
  background-color: #444;
  color: #fff;
  border: 1px solid #555;
}

.post.dark {
  border-color: #666;
  background-color: #555;
  color: #fff;
}

.post input[type="text"].dark,
.post textarea.dark {
  border: 1px solid #666;
  background-color: #666;
  color: #fff;
}

.post .reply.dark {
  background-color: #007bff;
  color: #fff;
}

