:root {
  --pistachio: #d1ddd8;
  --turquoise: #85b8cb;
  --cerulean: #1d6a96;
  --spruce: #283b42;
}

/* Universal button styling */
.button {
  border-radius: 10px;
  border: none;
  padding: 15px 30px;
  background-color: var(--spruce);
  color: #fff;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
}

.button:hover {
  opacity: 0.8;
  box-shadow: 0 0 10px darkgray;
}

/* Reset some default styles */
body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
  background-color: lightgray;
}

/* Basic styling for the container */
.container {
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* Header styling */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

#search {
  margin: 0 20px;
  border-radius: 10px;
  padding: 10px;
  width: 80%;
  border: 2px solid white;
  font-size: 20px;
}
#search:hover {
  outline: none;
  border: 2px solid var(--spruce);
}

#search:focus {
  outline: none;
  border: 2px solid var(--spruce);
}

.date {
  font-size: 20px;
  color: #777;
  margin-bottom: 10px;
}

/* Post styling */
.post {
  box-shadow: 0 0 20px darkgray;
  border-radius: 30px;
  margin-bottom: 20px;
  padding: 30px;
  background-color: white;
}

.post .content {
  margin-bottom: 10px;
}

.post .title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

.post .body {
  font-size: 20px;
  margin-bottom: 20px;
}

.post .author {
  font-size: 20px;
  color: #777;
}

.post .footer {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* Reply styling */
.reply {
  border-top: 1px solid #cac8c8;
  padding: 20px 20px 10px 20px;
  background-color: white;
}

.reply .content {
  margin-left: 30px;
}

.reply .body {
  font-size: 20px;
  margin-bottom: 5px;
}

.reply .author {
  font-size: 20px;
  color: #777;
}

/* reply form styling */
.reply-form {
  box-shadow: 0 0 10px darkgray;
  border: 1px solid #cac8c8;
  border-radius: 30px;
  margin: 20px 0;
  padding: 30px;
  background-color: lightgray;
}

.reply-label {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}
.reply-input {
  border-radius: 10px;
  width: 97%;
  max-width: 97%;
  padding: 8px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  border: 2px solid white;
  margin-bottom: 10px;
}
.reply-input:hover,
.reply-input:focus {
  outline: none;
  border: 2px solid var(--spruce);
}

.reply-form-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

/* Media queries for smaller screens */
@media only screen and (max-width: 600px) {
  body,
  h1,
  h2,
  h3,
  p {
    font-size: 16px; /* Adjust font size for readability */
  }

  .container {
    padding: 10px; /* Reduce padding for smaller container */
  }

  .button {
    padding: 10px 20px; /* Adjust padding for smaller buttons */
    font-size: 16px; /* Adjust font size for smaller screens */
  }

  #search {
    width: 100%; /* Full width for search input on small screens */
    margin: 10px 0; /* Adjust margin for spacing */
  }

  .post {
    padding: 20px; /* Reduce padding for posts */
  }

  .post .title {
    font-size: 24px; /* Slightly smaller title font size */
  }

  .post .body {
    font-size: 16px; /* Adjust body font size for readability */
  }

  .post .author {
    font-size: 16px; /* Adjust author font size for readability */
  }

  .post .footer {
    flex-direction: column; /* Stack buttons vertically on small screens */
    align-items: flex-end; /* Align buttons to the right */
    margin-top: 5px; /* Reduce margin for spacing */
  }

  .reply-form {
    padding: 20px; /* Reduce padding for reply form */
  }

  .reply-label {
    font-size: 16px; /* Adjust label font size for readability */
  }

  .reply-input {
    font-size: 16px; /* Adjust input font size for readability */
    margin-bottom: 5px; /* Reduce margin for spacing */
  }

  .reply-form-footer {
    flex-direction: column; /* Stack buttons vertically on small screens */
    align-items: flex-end; /* Align buttons to the right */
    margin-top: 5px; /* Reduce margin for spacing */
  }
}

/* Styling for invisible inputs */
input[type="submit"] {
  display: none;
}
